* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0;
    max-width: 1170px;
  }
}
.header {
  position: relative;
  color: #fff;
  background-image: url("../img/header/img-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .header {
    min-height: auto;
  }
}
@media (min-width: 1200px) {
  .header {
    height: 750px;
  }
}
.header::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(107, 125, 143, 0.582);
  z-index: 1;
}
.header-logo {
  font-family: 'airbagregular';
  font-size: 48px;
  color: #fff;
  text-decoration: none;
}
.header-menu {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 15px;
}
.header-nav-menu {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}
@media (min-width: 1200px) {
  .header-nav-menu {
    margin-bottom: 200px;
  }
}
.header-menu-wrapper {
  display: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  z-index: 10;
}
.header-content {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header-content-text {
  text-align: center;
  margin-bottom: 35px;
}
.content-title {
  font-size: 36px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}
.content-text {
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.4;
}
.content-button {
  display: inline-block;
  padding: 10px 25px;
  border: 1px solid #fff;
  border-radius: 30px;
  background-color: #ffffff00;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  cursor: pointer;
  text-decoration: none;
}
.content-button:hover {
  background-color: #9a9fa1;
}
.header-scroll {
  display: none;
}
@media (min-width: 1200px) {
  .header-scroll {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none;
    position: absolute;
    bottom: 14%;
    left: 50%;
    width: 60px;
    height: 60px;
    z-index: 2;
    border-radius: 50%;
    border: 1px solid #fff;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .header-scroll::before {
    content: "";
    display: block;
    position: absolute;
    top: 60px;
    left: 30px;
    height: 104px;
    width: 1px;
    background-color: #fff;
    z-index: 2;
  }
  .header-scroll:hover {
    background-color: #7f9da8;
  }
}
.header-scroll .fa-angle-down {
  color: white;
  font-size: 60px;
}
.section-services {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #f5f5f5;
}
@media (min-width: 768px) {
  .section-services {
    padding-top: 70px;
    padding-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .section-services {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
.content-services {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 70px;
  text-align: center;
}
.content-services:after {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #29323c;
  bottom: -10px;
}
.services-block-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .services-block-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 1200px) {
  .services-block-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.content-block-name {
  margin: 0;
  padding: 0;
  color: #29323c;
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 10px;
}
.content-block-text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #29323c;
  font-weight: 400;
  line-height: 2;
}
.content-block-text p {
  padding: 0;
  margin: 0;
}
.services-name-block {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 2;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  color: #29323c;
}
.services-text-block {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  color: #29323c;
}
.services-block {
  text-align: center;
  width: 100%;
  max-width: 380px;
  padding: 0 8px;
  margin-bottom: 40px;
}
.services-block:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .services-block {
    margin-bottom: 30px;
    padding: 0 40px;
    max-width: unset;
    width: 270px;
  }
}
@media (min-width: 1200px) {
  .services-block {
    width: 270px;
    margin-right: 30px;
    margin-bottom: 0;
    padding: 0 20px;
  }
  .services-block:last-child {
    margin-right: 0;
  }
}
.img-block {
  margin-bottom: 30px;
}
.section-works {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (min-width: 1200px) {
  .section-works {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
.block-works-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.works-img {
  padding: 0;
  margin: 0;
  width: 101%;
  height: 101%;
}
.block-1__item {
  padding: 0;
  margin: 0;
  line-height: 0;
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-width: 424px) {
  .block-1__item {
    width: 50%;
    height: 180px;
  }
}
@media (min-width: 768px) {
  .block-1__item {
    width: 33%;
    height: 130px;
  }
}
@media (min-width: 992px) {
  .block-1__item {
    width: 20%;
    height: 117px;
  }
}
@media (min-width: 1200px) {
  .block-1__item {
    width: 20%;
    height: 200px;
  }
}
.block-section-works {
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
}
@media (min-width: 1200px) {
  .block-section-works {
    max-width: 1920px;
  }
}
.section-clients {
  padding-bottom: 90px;
}
.owl-theme .owl-dots .owl-dot {
  outline: none;
}
.testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.testimonial__text {
  color: black;
  font-size: 18px;
  text-align: center;
  margin-bottom: 60px;
  position: relative;
}
.testimonial__text p {
  margin: 0;
  margin-bottom: 15px;
}
.testimonial__text:after {
  content: url("../img/zap.png");
  display: block;
  position: absolute;
  width: 15px;
  height: 18px;
  color: #2772d3;
  left: 50%;
}
.testimonial-carousel {
  width: 750px;
  margin: 0 auto;
}
.header__burger {
  display: block;
  position: relative;
  width: 30px;
  height: 5px;
  background-color: #fff;
  z-index: 4;
  cursor: pointer;
}
.header__burger::before {
  display: block;
  content: "";
  background-color: #fff;
  position: absolute;
  width: 30px;
  height: 5px;
  left: 0;
  top: -10px;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}
.header__burger::after {
  display: block;
  content: "";
  background-color: #fff;
  position: absolute;
  width: 30px;
  height: 5px;
  left: 0;
  top: 10px;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
}
.header__burger.header__burger-active {
  background-color: transparent;
}
.header__burger.header__burger-active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}
.header__burger.header__burger-active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}
.burger-wrapper {
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mobile-nav {
  display: block;
  position: fixed;
  right: 0px;
  top: 0;
  height: 100vh;
  width: 320px;
  background-color: rgba(52, 85, 67, 0.959);
  z-index: 3;
  padding: 35px;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
@media (min-width: 768px) {
  .mobile-nav {
    width: 400px;
  }
}
@media (min-width: 900px) {
  .mobile-nav {
    width: 40%;
  }
}
.mobile-nav--active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.mobile-nav__title {
  display: inline-block;
  margin-bottom: 50px;
  color: #b49c9c;
  font-size: 30px;
  font-weight: 900;
}
.mobile-nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}
.mobile-nav__item {
  margin-bottom: 30px;
}
.mobile-nav__item:last-child {
  margin-bottom: 0;
}
.mobile-nav__link {
  color: #d4c6c6;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid #d4c6c6;
}
.mobile-nav__link:hover {
  color: #338133;
}
.section-team {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  background-color: #3a4f58;
  text-align: center;
}
@media (min-width: 768px) {
  .section-team {
    background-image: url("../img/team/team-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
  }
  .section-team:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 19, 19, 0.377);
    z-index: 1;
  }
}
@media (min-width: 1200px) {
  .section-team {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
.content-team {
  z-index: 2;
  position: relative;
}
.color {
  color: #fff;
}
.content-team .content-services::after {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #ffffff;
  bottom: -10px;
  z-index: 2;
}
.content-services-title {
  margin-bottom: 100px;
}
.block-user-team {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .block-user-team {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media (min-width: 1200px) {
  .block-user-team {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-bottom: 90px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.block-user {
  z-index: 2;
  text-align: center;
  background-color: #c7cdcfb6;
  width: 270px;
  padding-bottom: 30px;
  margin-bottom: 20px;
}
.block-user:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .block-user {
    width: 270px;
    margin-right: 20px;
  }
}
@media (min-width: 1200px) {
  .block-user {
    margin-right: 0;
    margin-bottom: 0;
    width: 270px;
  }
}
.user-img {
  z-index: 2;
  margin-bottom: 30px;
}
.name-user {
  font-size: 15px;
  font-weight: 700;
  color: #29323c;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
.position-user {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #29323c;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}
.user-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.team-icon {
  display: block;
  margin-right: 8px;
  border-radius: 30%;
}
.team-icon:last-child {
  margin-right: 0;
}
.team-icon:hover {
  opacity: 0.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.block-partners {
  display: none;
}
@media (min-width: 1200px) {
  .block-partners {
    width: 100%;
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: #f5f5f5;
  }
}
.team-partners-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-pricing {
  padding-top: 60px;
  padding-bottom: 60px;
}
.blocks-pricing-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 992px) {
  .blocks-pricing-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .blocks-pricing-row {
    padding-top: 100px;
    padding-bottom: 100px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.blocks-pricing {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  text-align: center;
  width: 291px;
  margin-bottom: 55px;
}
.blocks-pricing:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .blocks-pricing {
    width: 400px;
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .blocks-pricing {
    max-width: 400px;
    margin-bottom: 0;
    width: 32%;
  }
}
@media (min-width: 1200px) {
  .blocks-pricing {
    width: 400px;
    border: 1px solid #eeeeee;
    margin: 0;
    padding: 0;
    padding-top: 25px;
    padding-bottom: 35px;
    margin-bottom: 0;
    min-height: 500px;
  }
  .blocks-pricing:active {
    border-top: 5px solid #29323c;
  }
}
.name-price {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #29323c;
}
.cost-price {
  margin-bottom: 5px;
  font-size: 45px;
  color: #29323c;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.month-price {
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #bdbfc1;
}
.card-price {
  margin: 0;
  padding: 0;
}
.price-list {
  list-style-type: none;
  line-height: 2.8;
  font-size: 14px;
  color: #29323c;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
@media (min-width: 992px) {
  .price-list {
    font-size: 12px;
  }
}
@media (min-width: 1200px) {
  .price-list {
    font-size: 14px;
  }
}
.blocks-pricing {
  position: relative;
  border: 2px solid #eeeeee;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #fff;
}
.blocks-pricing:hover {
  border-top: 2px solid #fff;
}
.blocks-pricing:hover .cost-price {
  font-weight: 700;
}
.blocks-pricing:hover:after {
  top: -38px;
}
.blocks-pricing:after {
  content: "";
  position: absolute;
  height: 40px;
  top: 40px;
  left: -1px;
  right: -1px;
  border: 2px solid #eeeeee;
  border-bottom: 0px;
  border-top: 5px solid #323232;
  z-index: -1;
  background-color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.block-pricing-header {
  border-bottom: 2px solid #eeeeee;
  min-width: 140px;
}
.block-pricing-content {
  padding-top: 40px;
  min-height: 270px;
}
.button-link-price {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  background-color: #485563;
  border-radius: 30px;
  padding: 15px 35px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}
.button-link-price:hover {
  color: black;
  background-color: #848b8d;
}
.block-form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .block-form-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .block-form-content {
    max-width: 1920px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 auto;
  }
}
.block-form {
  position: relative;
  background-color: #89391c;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}
.block-form:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.507);
}
@media (min-width: 768px) {
  .block-form {
    background-image: url("../img/form/form.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 55%;
    padding-top: 115px;
    padding-bottom: 100px;
  }
}
@media (min-width: 1200px) {
  .block-form {
    width: 50%;
  }
}
.form-wrapper {
  width: 285px;
  margin: 0 auto;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  position: relative;
  z-index: 1;
}
@media (min-width: 480px) {
  .form-wrapper {
    width: 80%;
    max-width: 422px;
  }
}
@media (min-width: 768px) {
  .form-wrapper {
    width: 50%;
    max-width: 422px;
  }
}
@media (min-width: 1200px) {
  .form-wrapper {
    width: 50%;
    max-width: 422px;
  }
}
.form-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .form-inputs {
    margin-bottom: 25px;
  }
}
.form-input {
  width: 200px;
  height: 40px;
  font-size: 14px;
  color: #fff;
  background-color: rgba(143, 28, 28, 0);
  border: 1px solid #fff;
  padding-left: 14px;
  padding-right: 14px;
}
@media (min-width: 480px) {
  .form-input {
    width: 300px;
  }
}
@media (min-width: 768px) {
  .form-input {
    width: 305px;
  }
}
@media (min-width: 1200px) {
  .form-input {
    width: 305px;
  }
}
.form-inputs-name {
  min-width: 80px;
}
textarea {
  width: 200px;
  height: 145px;
  background-color: rgba(143, 28, 28, 0);
  color: #fff;
  padding: 14px;
}
@media (min-width: 480px) {
  textarea {
    width: 300px;
  }
}
@media (min-width: 768px) {
  textarea {
    width: 305px;
  }
}
@media (min-width: 1200px) {
  textarea {
    width: 305px;
  }
}
.block-map {
  width: 100%;
  height: 300px;
}
@media (min-width: 768px) {
  .block-map {
    width: 45%;
    height: auto;
  }
}
@media (min-width: 1200px) {
  .block-map {
    width: 50%;
  }
}
.block-map img {
  width: 100%;
}
.button_block input {
  padding: 15px 35px;
  font-size: 14px;
  color: #fff;
  background-color: rgba(143, 28, 28, 0);
  border: 1px solid #fff;
  margin-left: auto;
  display: block;
  cursor: pointer;
}
.button_block input:hover {
  background-color: #fff;
  color: #5e1c09;
}
iframe {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
.footer {
  color: #525961;
  padding-top: 50px;
  padding-bottom: 45px;
  background-color: #f5f5f5;
}
.footer-logo {
  font-family: "airbagregular";
  font-size: 48px;
  color: #525961;
  text-decoration: none;
  margin-right: 30px;
}
@media (min-width: 1200px) {
  .footer-logo {
    margin-right: 60px;
  }
}
.copyright {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 800px) {
  .footer-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 1200px) {
  .footer-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.row-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.fa-facebook-official {
  font-size: 25px;
  border-radius: 20%;
}
.row-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .row-social {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .row-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
}
.social-text {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin-right: 20px;
}
@media (min-width: 1200px) {
  .social-text {
    margin-right: 25px;
  }
}
.footer-social-link {
  display: inline-block;
  text-decoration: none;
  color: #525961;
}
.footer-social-link:hover {
  color: #778da5;
}
/*# sourceMappingURL=main.css.map */