.header__burger {
    display: block;
    position: relative;
    width: 27px;
    // height: 20px;
    height: 2px;
    background-color:#fff;
    z-index: 4;
    cursor: pointer;
  
    &::before {
      display: block;
      content: "";
      background-color: #fff;
      position: absolute;
      width: 27px;
      height: 2px;
      left: 0;
      top: -6px;
      transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    }
  
    &::after {
      display: block;
      content: "";
      background-color: #fff;
      position: absolute;
      width: 27px;
      height: 2px;
      left: 0;
      top: 6px;
      transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    }
 
  }